# virtual environment
venv/
__pycache__/
*.pyc

# models
/models/
# *.pkl

# data (optional if large)
data/imdb/
data/ml-latest/
data/tmdb/
data/

# system files
.DS_Store

# IDE
.vscode/
.idea/

# Processed data (optional to ignore)
data/processed/*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
